.wechatBtn {
  width: 600px;
  height: 92px;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.wechatIcon {
  margin-right: 16px;
  font-size: 48px;
}

.loginBtn {
  width: 600px;
  height: 92px;
  font-size: 32px;
}
