.bottoms {
  height: 200px;
  font-size: 24px;
  color: #999999;
  // background: #ffffff;
}
.flex {
  margin-top: 57px;
  margin-bottom: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  margin: 0 auto;
}
.icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.kong {
  width: 56px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin {
  margin-left: 5px;
}
