.tag {
  display: inline-block;
  padding: 8px 12px;
  box-sizing: border-box;
  border: 2px solid #efefef;
  margin: 0 16px 16px 0;
}

.activeTag {
  padding: 8px 12px;
  box-sizing: border-box;
  border: 2px solid #6190e8;
  color: #6190e8;
}

.tabContent {
  margin-bottom: 32px;
}

.tabsPane {
  padding-left: 16px;
}

.btn {
  color: #ffffff;
  background: #3b80ff !important;
}
