.cusItem {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #666;
  border-bottom: 1px splid #efefef;
  margin: 0 32px;
  padding: 8px 0;
}

.activeCusItem {
  color: #3b80ff;
}

.btn {
  color: #ffffff;
  background: #3b80ff !important;
}
