.top {
  padding-top: 50px;
  width: 417px;
  line-height: 77px;
  margin: 0 auto;
  display: flex;
  font-size: 37px;
  font-weight: bold;
  margin-bottom: 20px;
  height: 80px;
}
.adopt {
  padding-top: 50px;
  width: 280px;
  line-height: 77px;
  margin: 0 auto;
  display: flex;
  font-size: 37px;
  font-weight: bold;
  margin-bottom: 20px;
  height: 80px;
}
.icon {
  width: 80px;
  height: 80px;
}
.reason {
  margin-top: 20px;
}

.content {
  padding: 50px;
}
.time {
  margin-top: 90px;
}
.btn {
  margin-top: 50px;
}
